.dashboard-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

.metric-card {
    background-color: #f7f7f7; /* Light gray background for cards */
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* You can adjust this based on your design preference */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.metric-card p {
    font-size: 1.2rem;
}
